@charset "UTF-8";

* {
    margin: 0 auto;
    padding: 0;
    vertical-align: top;
}

body {
    transition: background-color 0.3s, color 0.3s;
    /* 기본 스타일 */
    background-color: white;
    color: black;
}

.dark-mode {
    /* 다크 모드 스타일 */
    background-color: #1a1a1a;
    color: #ffffff;
}

.dark-mode a {
    color: #ffffff !important;
    /* 다크 모드에서의 링크 색상 */
}

.dark-mode h3 {
    color: #ffffff !important;
    /* 다크 모드에서의 링크 색상 */
}

/* 달과 해 아이콘 스타일 */
#dark-mode-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul,
li,
ol,
a {
    text-decoration: none;
    list-style: none;
    color: #000;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.bgc_on {
    background-color: #fff;
    transition: all 200ms;
}

.bgc_on2 {
    background-color: #000000;
    transition: all 200ms;
}

.logo {
    width: 20%;
    height: 100px;
}

.logo>a>img {
    width: 120px;
    height: 100px;
    display: flex;
    filter: invert(100%);
}

header:hover .logo>a>img {
    filter: invert(0%);
}

/* 다크 모드일 때 해당 스타일 제거 */
.dark-mode header:hover .logo>a>img {
    filter: invert(100%) !important;
}

.nav_bgc {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 0px;
    z-index: 2;
}

.on {
    background-color: #fff;
    height: 250px;
    display: none;
}

.on2 {
    background-color: #000;
    height: 250px;
    display: none;
}

.nav {
    width: 60%;
}

.dark_mode {
    width: 20%;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
}

#dark-mode-toggle {
    padding: 5px;
    border-radius: 50px;
    background-color: #fff;
}

.nav>ul {
    width: 70%;
    height: 100px;
    display: flex;
    position: relative;
}

.nav>ul>li>ul {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 100px;
    line-height: 40px;
    z-index: 2;
    display: none;
    position: absolute;
    top: 100px;
    left: 35px;
}

.nav>ul>li>ul>li {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-family: 'ONE-Mobile-Regular';
}

.nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 1.3rem;
    font-family: 'ONE-Mobile-Regular';
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: #fff;
}

header:hover .nav>ul>li>a {
    color: #000;
}

.nav>ul>li>a:hover {
    color: #0164c8 !important;
}

.nav>ul>li>ul>li>a:hover {
    color: rgb(1, 100, 200);
}

.border_on {
    width: 100%;
}

#slide {
    width: 100%;
    height: 100vh;
    background: url(../img/BeSpoke_main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.tx_center {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.tx_center {
    width: 33%;
    position: absolute;
    top: 80%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: 3.5rem;
    font-family: 'ONE-Mobile-Regular';
    color: #fff;
}

.tx_bold {
    font-weight: bold;
}

.tx_center2 {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-size: 2.5rem;
    font-family: 'ONE-Mobile-Regular';
    color: #a3654e;
}

.tx_title {
    width: 100%;
    display: flex;
}

.hidden {
    opacity: 0;
}

.hidden2 {
    opacity: 0;
}

#section1 {
    width: 100%;
    height: 100%;
    position: relative;
}

#section1>.section1_box {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* 내부 요소를 가운데 정렬하기 위해 추가 */
}

#section1>.section1_box>.left_title,
#section1>.section1_box>.right_img {
    width: 50%;
    /* 추가적으로 필요한 스타일 */
}

#section1>.section1_box>.left_title {
    margin-left: 180px;
}

#section1>.section1_box>.left_title h2 span {
    display: block;
    line-height: 10vw;
    font-weight: 100;
    font-size: 6vw;
}

#section1>.section1_box>.left_title h2 {
    display: block;
    line-height: 2vw;
    font-weight: bold;
    font-size: 6vw;
}

#section1>.section1_box>.left_title span {
    display: block;
    line-height: 8vw;
    font-weight: 400;
    font-size: 1.2vw;
}

.right_img img {
    display: block;
    max-width: 100%;
    margin-top: 120px;
}

#section2 {
    width: 100%;
    height: 100%;
    position: relative;
}

#section2>.box_wrap {
    display: flex;
    padding: 5vw;
}

#section2>.box_wrap>.small_box {
    width: 23%;
    height: 450px;
    background-color: #f7f7f7;
    margin: 0px 10px 10px 0px !important;
    position: relative;
}

.img_box {
    width: 80%;
    text-align: right;
    margin: 20px 0px 0px 45px;
}

.img_box>img {
    max-width: 50%;
}

.gif_img>img {
    width: 650px;
    height: 450px;
    margin-left: 10px;
}

.tx_content {
    width: 85%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tx_content>span {
    font-size: 0.9rem;
}

.btn_content {
    margin: 30px 0px;
}

.btn_content>img {
    max-width: 10%;
}

#section3 {
    height: 190vh;
    text-align: center;
}

#section3>h2 {
    width: 30%;
    height: 10%;
    background: url(../img/section3/line_logo_txt.webp) no-repeat center / 100% auto;
}

.image-row {
    display: flex;
    justify-content: center;
}

.image-item {
    width: 30%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin: 20px;
}

.image-item>img {
    width: 100%;
    height: 65%;
}

.visible {
    opacity: 1;
    /* 이미지를 보이도록 함 */
}

.image_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.image_content strong,
.image_content span,
.image_content a {
    margin: 10px;
    /* strong, span, a 태그의 마진 값을 0으로 설정 */
}

.image_content strong {
    font-size: 2rem;
    margin-top: 30px;
}

.image_content span {
    font-size: 1rem;
    margin: 10px 10px;
}

.image_content a {
    margin-top: 20px;
    text-decoration: underline;
}

#section4 {
    position: relative;
    height: 300px;
    background: url(../img/section4/bg_banner01_v2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 어두운 음영을 주는 배경색 */
    /* 조절 가능한 opacity 값을 사용하여 음영 강도 조절 가능 */
}

.overlay-text {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    /* 텍스트를 음영 처리된 가상 요소 위에 배치 */
    pointer-events: none;
    /* 텍스트 위에 마우스 이벤트가 전달되지 않도록 설정 */
}

.overlay-text2 {
    font-size: 3rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    /* 텍스트를 음영 처리된 가상 요소 위에 배치 */
    pointer-events: none;
    /* 텍스트 위에 마우스 이벤트가 전달되지 않도록 설정 */
}

.overlay-text2>span {
    color: #007fff;
    font-weight: bold;
}

footer {
    width: 100%;
}

.footer-content {
    text-align: left;
}

.footer-inner {
    width: 100%;
    margin-top: 50px;
}

.footer-inner>ul {
    display: flex;
}

.footer-inner>ul>li {
    line-height: 50px;
}

.footer-inner>ul>li>a {
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    position: unset;
    padding: 10px;
    border-bottom: 1px solid #afafaf;
}

.footer-content {
    border-top: 1px solid #afafaf;
}

.footer_align {
    padding: 35px 0px;
    margin-left: 40px;
}

.diplay_flex {
    display: flex;
    align-items: center;
}

.dfa {
    width: 30%;
    display: flex;
    align-items: center;
}

.footer_align p {
    line-height: 20px;
    font-size: 12px;
    color: #707070;
}

.tx_bold_size {
    font-size: 0.9rem;
    color: #707070;
}

.mobile-menu-toggle {
    display: block;
}

.mobile-menu {
    display: none;
}

.mobile-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mobile-menu ul li {
    padding: 10px 0;
}

.mobile-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.mobile-menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .mobile-menu-toggle {
        display: flex;
        align-items: center;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .mobile-menu.active {
        display: block;
    }
}

@media screen and (max-width: 390px) {

    /* 아이폰12 pro */
    .nav {
        display: none;
    }

    .on {
        display: none;
    }

    .dark_mode {
        display: none;
    }

    .tx_center {
        width: 90%;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        font-size: 2rem;
        font-family: 'ONE-Mobile-Regular';
        color: #fff;
    }

    .tx_center2 {
        position: absolute;
        top: 87%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        font-size: 1.5rem;
        font-family: 'ONE-Mobile-Regular';
        color: #a3654e;
    }

    #section1>.section1_box {
        /* display: flex; */
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    #section1>.section1_box>.left_title,
    #section1>.section1_box>.right_img {
        width: 100%;
    }

    .right_img img {
        display: block;
        max-width: 100%;
        margin: 0;
    }

    #section1>.section1_box>.left_title {
        width: 90%;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }


    #section1>.section1_box>.left_title h2 {
        display: block;
        line-height: 2vw;
        font-weight: bold;
        font-size: 6vw;
    }

    #section1>.section1_box>.left_title h2 span {
        display: block;
        line-height: 13vw;
        font-weight: 100;
        font-size: 8vw;
    }

    #section1>.section1_box>.left_title span {
        display: block;
        line-height: 15vw;
        font-weight: 400;
        font-size: 4vw;
    }

    #section2>.box_wrap {
        display: flex;
        padding: 5vw;
        flex-direction: column;
    }

    #section2>.box_wrap>.small_box {
        width: 100%;
        height: 450px;
        background-color: #f7f7f7;
        margin: 10px;
        position: relative;
    }

    .gif_img>img {
        max-width: 100%;
        height: auto;
        margin: 0px;
    }

    /* section3 */
    #section3 {
        height: 100%;
    }

    .overlay_wrap {
        display: flex;
        width: 100%;
        height: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .overlay-text {
        font-size: 1.2rem;
        position: initial;
        transform: none;
    }

    .overlay-text2 {
        font-size: 1.5rem;
        position: initial;
        transform: none
    }

    .image-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .image-item {
        width: 100%;
        transition: opacity 1s ease-in-out;
        margin: 0px;
    }

    /* footer */

    .footer-inner {
        margin: 0;
    }

    .footer_align p {
        margin-top: 10px;
    }

    .footer-inner>ul {
        display: flex;
        flex-direction: column;
    }

    .footer-inner>ul>li>ul {
        display: none;
    }

    .footer-inner>ul>li {
        line-height: 50px;
        height: 50px;
    }

    .footer-inner>ul>li>a {
        margin: 0px;
        font-weight: bold;
        font-size: 18px;
        padding: 0px;
        border-bottom: none;
    }

    .diplay_flex {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .dfa {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer_align {
        padding: 35px 10px;
        margin: 0px;
    }
}